.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 50px auto;
  gap: 10px;
}

.input {
  width: 300px;
}
.registerBtn {
  display: block;
}
